* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 780px;

  position: absolute;
  z-index: 2;
}
main {
  background-color: black;
  color: white;
  margin-right: 0px;
  padding: 30px;
  height: 780px;
  width: 650px;

  position: absolute;
  z-index: 3;
}

img {
  height: 94px;
  margin: 50px 301px 92px 30px;
}

h1 {
  color: rgba(8, 192, 94, 1);

  font-family: "work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  margin-bottom: 9px;
}
h2 {
  width: 517px;
  height: 16px;
  margin-bottom: 9px;

  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
p {
  width: 647px;
  height: 38px;

  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
label {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;

  color: rgba(168, 168, 168, 1);
}
#areaEmail {
  margin-top: 50px;
}

input {
  width: 798px;
  height: 48px;
  margin-top: 17px;
  box-shadow: 7px 7px 25px;
}

button {
  width: 48px;
  height: 48px;
  margin-top: 5px;

  background-color: rgba(130, 87, 229, 1);
}
button:hover {
  background-color: rgb(98, 67, 170);
  border: 1px solid rgba(168, 168, 168, 0.522);
  cursor: pointer;
}

#link {
  margin-top: 50px;
}
a {
  text-decoration: none;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: rgba(130, 87, 229, 1);
}

a:hover {
  text-decoration: underline;
}

#img img {
  position: relative;
  height: 780px;
  width: 1175px;
  left: 376px;
  margin: 0px;
}
