* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 94px;
  margin: 50px 301px 92px 30px;
}

#text {
  width: 647px;
  height: 102px;
  margin: 0px 21px 0px 52px;
}
h1 {
  color: rgba(8, 192, 94, 1);

  font-family: "work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  margin-bottom: 9px;
}
h2 {
  width: 517px;
  height: 16px;
  margin-bottom: 9px;

  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
p {
  width: 647px;
  height: 38px;

  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
